.admin {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-bottom: 1rem;
  padding: 0 1rem;
}

.delete-btn {
  border: 0;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  position: absolute;
  right: .5rem;
  top: .25rem;
}

.radio-group {
  display: flex;
  gap: .5rem;
  margin: 0 auto;
  max-width: 800px;
  padding: 0 1rem;
  width: 100%;
}

.radio-wrapper {
  flex: 1;
}

.radio-input {
  display: none;
}

.radio-label {
  background-color: var(--color-grey);
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  color: #000;
  cursor: pointer;
  display: block;
  padding: .5rem 1rem;
  text-align: center;
  width: 100%;
}

.radio-input:checked + .radio-label {
  background-color: #fff;
}

.radio-input:checked + .radio-label.theme {
  background-color: var(--color-background);
}

.radio-group--admin .radio-wrapper:last-child .radio-input:checked + .radio-label.theme {
  background-color: var(--color-grey-light);
}

.chats-select {
  background-color: var(--color-grey);
  border: 1px solid #000;
  color: #fff;
  cursor: pointer;
  font-family: var(--font-family-text);
  font-size: 1rem;
  margin: 0 auto;
  max-width: 800px;
  padding: 1rem;
  text-transform: capitalize;
  width: 100%;
}

.page-admin .message__content {
  padding-right: 2.5rem;
}