.delete-btn {
  border: 0;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  position: absolute;
  right: .5rem;
  top: .25rem;
}

.radio-group {
  border: 1px solid #000;
  display: flex;
  gap: 1px;
  margin: 0 auto;
  max-width: 800px;
  width: 100%;
}

.radio-wrapper {
  flex: 1;
}

.radio-wrapper:not(:last-child) {
  border-right: 1px solid #000;
}

.radio-input {
  display: none;
}

.radio-label {
  background-color: var(--color-grey);
  cursor: pointer;
  display: block;
  padding: 1rem;
  text-align: center;
  width: 100%;
}

.radio-input:checked + .radio-label {
  background-color: var(--color-main);
}

.chats-select {
  background-color: var(--color-grey);
  border: 1px solid #000;
  color: #fff;
  cursor: pointer;
  font-family: var(--font-family-text);
  font-size: 1rem;
  margin: 0 auto;
  max-width: 800px;
  padding: 1rem;
  text-transform: capitalize;
  width: 100%;
}