.form {
  background-color: var(--color-background);
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  border-top: 1px solid var(--color-grey-light);
  margin: 0 auto;
  max-width: 800px;
  padding: 1rem;
  position: relative;
  width: 100%;
}

.page-signin {
  padding: 0 1rem;
}

.page-signin .form {
  grid-template-columns: 1fr;
  gap: 2rem;
}

.label {
  display: block;
  font-size: 1.5rem;
  margin-bottom: .5rem;
}

.input-wrapper {
  position: relative;
}

.btn-icon {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  padding: 0;
}

.btn-icon svg {
  display: block;
}

.form-users {
  display: grid;
  gap: 1rem;
  margin-top: .5rem;
}

.form-user {
  align-items: center;
  background-color: #fff;
  border-radius: var(--border-radius);
  justify-content: space-between;
  display: flex;
  font-size: 1.25rem;
  padding: 1rem;
}

.form-row {
  display: flex;
  gap: 1rem;
  text-align: center;
}

.form-row .form-group {
  flex: 1;
}

.form-row .color-input {
  display: block;
  margin: 0 auto;
}

.form-group {
  display: grid;
  gap: .5rem;
  width: 100%;
}

.form-group.flex-grow-0 {
  flex-grow: 0;
}

.form-group--border {
  border: 1px solid #000;
  border-radius: var(--border-radius);
  padding: 1rem;
}

.form-label {
  align-self: flex-start;
  display: flex;
  font-size: 1.125rem;
  gap: .5rem;
  justify-content: space-between;
  line-height: 1;
}

.form-label.text-center {
  justify-content: center;
}

.form-label + .radio-group {
  margin-top: 1rem;
}

.form-sample-text {
  background-color: var(--color-main);
  border-radius: var(--border-radius);
  color: var(--font-color);
  font-size: var(--font-size);
  letter-spacing: var(--letter-spacing);
  line-height: var(--line-height);
  font-family: var(--font-family-text);
  padding: 1rem;
}

.form-input {
  border: 0;
  border-radius: var(--border-radius);
  flex: 1;
  font-size: 1.5rem;
  padding: 1rem;
  width: 100%;
}

.message-input {
  font-family: var(--font-family-text);
  padding-right: 2.75rem;
}

.message-input--demo {
  padding-right: 5.5rem;
}

.form-option {
  border-radius: var(--border-radius);
  cursor: pointer;
  padding: .5rem;
  text-align: center;
}

.form-option:not(:last-child) {
  margin-bottom: .5rem;
}

.color-input[type="color"] {
  appearance: none;
  background-color: transparent;
  border: 2.5px solid #000;
  border-radius: 50%;
  cursor: pointer;
  height: 100px;
  width: 100px;
}

.color-input[type="color"]::-webkit-color-swatch {
  border-radius: 50%;
  border: none;
}

.color-input[type="color"]::-moz-color-swatch { 
  border-radius: 50%;
  border: none;
}

.chat-input-btns {
  align-items: center;
  bottom: 0;
  display: flex;
  gap: 1rem;
  margin-right: 1rem;
  position: absolute;
  right: 0;
  top: 0;
}

.btn {
  border: 0;
  cursor: pointer;
  background-color: transparent;
  padding: 0;
  transition: opacity .2s linear;
}

.btn[disabled] {
  cursor: not-allowed;
  opacity: .5;
}

.btn--danger {
  background-color: var(--color-error);
}

.form-image-input-wrapper {
  align-items: center;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.form-image-wrapper {
  align-items: center;
  display: flex;
  inset: 0;
  justify-content: center;
  position: absolute;
}

.form-image-frame {
  align-items: center;
  background-color: var(--color-main);
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 0;
  position: relative;
  width: 100px;
}

.form-image-frame::before {
  content: '';
  display: block;
  padding-top: 100%;
}

.form-image {
  max-width: 80%;
}

@media (max-width: 768px) {
  .form-row {
    align-items: center;
    flex-direction: column;
  }
}

@media (max-width: 399px) {
  .form {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}