.media-gallery-header {
  margin-bottom: 1rem;
  padding-right: 1.25rem;
  position: relative;
}

.media-gallery-title {
  margin: 0;
}

.media-gallery-subtitle {
  margin: 0;
}

.media-gallery-close {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.media-gallery__images {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 1rem;
  max-height: 550px;
  max-width: 1000px;
  overflow: auto;
}

.media-gallery__image {
  background-color: transparent;
  border: 3px solid var(--color-grey);
  border-radius: var(--border-radius);
  cursor: pointer;
  padding: 1rem;
}

.media-gallery__image--active {
  border-color: var(--color-main);
}

.media-gallery__upload {
  margin-bottom: 1rem;
}

.media-gallery__footer {
  display: flex;
  gap: 1rem;
}

.media-gallery__footer__btn {
  cursor: pointer;
  font-size: 1rem;
  padding: 1rem;
  width: 100%;
}

.media-gallery__footer__btn:disabled {
  cursor: not-allowed;
}

@media screen and (max-width: 768px) {
  .media-gallery__images {
    grid-template-columns: repeat(2, 1fr);
  }
}