extends ../layouts/main.pug

block scripts
  script(src="/embed.js")

block content
  main.container
    h1.title='Om Lab GPT | Store Demo'
    p="Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum recusandae optio obcaecati eum. Beatae reiciendis, amet dicta voluptatum nulla, animi fuga expedita aliquid reprehenderit dolores aut at provident. Eum, in?"
    p="Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum recusandae optio obcaecati eum. Beatae reiciendis, amet dicta voluptatum nulla, animi fuga expedita aliquid reprehenderit dolores aut at provident. Eum, in?"