extends ../layouts/main.pug

block styles
  link(rel="stylesheet", href="/widget.css")
block scripts
  script(src="/main.js")
  script(src="/chat.js")
  script(src="/widget.js")

block content
  div.widget
    div.widget__chat-wrapper(aria-hidden="true" js-widget-wrapper)
      button.widget__close-btn(js-widget-close type="button")=X
      div.messages-wrapper(js-messages-wrapper)
        ol.messages(js-messages)
        span.loader(js-loader)
          span.dots
      form.form(action="/" method="POST" js-form)
        input.input(name="message", type="text" autocomplete="off" js-input)
        button.btn(type="submit")='Send'
        //- a.btn.btn--danger(href="/reset" js-reset-btn)='Reset'
    button.widget__toggle-btn(js-widget-toggle aria-expanded="true")
      img.widget__toggle-btn__img(src="/imgs/chat.svg" alt="Open chat")