@font-face {
  font-family: 'NeueHaasDisplay';
  src: url('/public/fonts/NeueHaasDisplay-Light.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Omnes Pro';
  src: url('/public/fonts/omnes_pro_regular-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
