/* Container */
.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0 auto;
  max-width: 1440px;
}

/* Title */
.title {
  text-align: center;
}

.text-center {
  text-align: center;
}

.flex-grow-0 {
  flex-grow: 0;
}