:root {
  --color-primary: #b4dddd;
  --color-secondary: #00BEB7;
  --color-main: var(--color-primary);
  --color-grey: #757575;
  --color-grey-light: #eee;
  --color-error: brown;
  --color-background: var(--color-grey-light);
  --font-family-text: 'Quicksand', sans-serif;
  --shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(31, 33, 36, 0.2) 0px 4px 12px 0px, rgba(31, 33, 36, 0.05) 0px 2px 6px 0px;
  --border-radius: 1rem;
}