:root {
  --color-main: #00bdb6;
  --color-grey: #757575;
  --color-error: brown;
  --font-family-main: 'Quicksand', sans-serif;
  --font-family-text: 'Oxanium', cursive;
  --shadow: 1.5px 2.5px 8px hsla(0, 0%, 0%, .2);
}