body {
  background-color: transparent;
}

.widget {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 1rem;
  padding-bottom: .5rem;
  padding-right: .5rem;
}

.widget__chat-wrapper {
  border-radius: .75rem;
  box-shadow: var(--shadow);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-height: 500px;
  overflow: hidden;
  margin-bottom: 1rem;
  position: relative;
  transition: opacity .5s linear;
}

.widget__chat-wrapper:not(.show) {
  max-height: 0;
  margin-bottom: 0;
  opacity: 0;
  transition: opacity .5s linear;
}

.widget__chat {
  background-color: var(--color-background);
}

.widget__toggle-btn {
  align-self: end;
  background-color: var(--color-main);
  border: 0;
  border-radius: 50%;
  box-shadow: var(--shadow);
  cursor: pointer;
  height: 4rem;
  margin-top: auto;
  padding: .7rem;
  position: relative;
  width: 4rem;
}

.widget__badge {
  background-color: var(--color-error);
  border-radius: 50%;
  height: 1rem;
  width: 1rem;
  position: absolute;
  left: .1rem;
  top: 0;
}

.widget__toggle-btn:not(.badge) .widget__badge {
  display: none;
}

.widget__toggle-btn__img {
  display: block;
  width: 100%;
}

.widget__toggle-btn .widget__toggle-btn__close {
  display: none;
}

@media (max-width: 399px) {
  .widget {
    padding: 0;
  }

  .widget__chat-wrapper {
    border-radius: 0;
    max-height: 100vh;
    margin-bottom: 0;
  }

  .widget__toggle-btn[aria-expanded="false"] {
    margin-bottom: .5rem;
    margin-right: .5rem;
  }

  .widget__toggle-btn[aria-expanded="true"] {
    align-items: center;
    background-color: transparent;
    box-shadow: none;
    display: flex;
    height: 2rem;
    justify-content: center;
    position: absolute;
    right: .5rem;
    top: .5rem;
    width: 2rem;
  }

  .widget__toggle-btn[aria-expanded="true"] .widget__toggle-btn__close {
    display: block;
  }

  .widget__toggle-btn[aria-expanded="true"] .widget__toggle-btn__img {
    display: none;
  }
}
