html
  head
    title='Om Lab GPT'
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin="")
    link(href="https://fonts.googleapis.com/css2?family=Oxanium&amp;family=Quicksand:wght@500;600;700&amp;display=swap" rel="stylesheet")
    link(rel="stylesheet", href="styles.css")
    script(src="script.js") 
  body
    main.container
      h1.title='Om Lab GPT'
      div.messages-wrapper(js-messages-wrapper)
        ol.messages(js-messages)
          each message in messages
            li(class=`message message--${message.role}`)=message.content
        span.loader(js-loader)
          span.dots
      form.form(action="/" method="POST" js-form)
        input.input(name="message", type="text" autocomplete="false" js-input)
        button.btn(type="submit")='Send'