/* Variables */
:root {
  --color-main: #00bdb6;
  --color-grey: #757575;
  --font-family-main: 'Quicksand', sans-serif;
  --font-family-text: 'Oxanium', cursive;
}

/* Reset */
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #000;
  color: #fff;
  font-family: var(--font-family-text);
  margin: 0;
}

ol, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Container */
.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0 auto;
  max-width: 1440px;
}

/* Title */
.title {
  text-align: center;
}

/* Messages */
.messages-wrapper {
  background-color: var(--color-grey);
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: 0 auto;
  max-width: 800px;
  overflow: auto;
  padding: 2rem;
  width: 100%;
}

.messages {
  display: grid;
  gap: 1rem;
}

.message {
  background-color: var(--color-main);
  border-radius: 1rem;
  padding: 1rem;
  width: fit-content;
}

.message--user {
  background-color: #fff;
  color: #000;
  justify-self: end;
}

/* New message */
.form {
  display: flex;
  margin: 0 auto;
  max-width: 800px;
  width: 100%;
}

.input {
  border: 0;
  flex: 1;
  font-size: 1.5rem;
  padding: 1rem;
  resize: none;
}

.btn {
  background-color: var(--color-main);
  color: #fff;
  cursor: pointer;
  border: 0;
  font-size: 1.5rem;
  padding: 1rem;
  transition: opacity .2s linear;
}

.btn:hover {
  opacity: .9;
}

/* Loading indicator */
.loader {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  overflow: hidden;
  padding: 2rem 0;
  width: 2.5rem;
}

.loader:not(.show) {
  visibility: hidden;
}

.dots {
  animation: dots 1.5s infinite linear;
  background-color: var(--color-main);
  border-radius: 5px;
  box-shadow: 9984px 0 0 0 var(--color-main), 9999px 0 0 0 var(--color-main), 10014px 0 0 0 var(--color-main);
  color: var(--color-main);
  height: 10px;
  left: -9999px;
  position: relative;
  width: 10px;
}

@keyframes dots {
  0% {
    box-shadow: 9984px 0 0 0 var(--color-main), 9999px 0 0 0 var(--color-main), 10014px 0 0 0 var(--color-main);
  }
  16.667% {
    box-shadow: 9984px -10px 0 0 var(--color-main), 9999px 0 0 0 var(--color-main), 10014px 0 0 0 var(--color-main);
  }
  33.333% {
    box-shadow: 9984px 0 0 0 var(--color-main), 9999px 0 0 0 var(--color-main), 10014px 0 0 0 var(--color-main);
  }
  50% {
    box-shadow: 9984px 0 0 0 var(--color-main), 9999px -10px 0 0 var(--color-main), 10014px 0 0 0 var(--color-main);
  }
  66.667% {
    box-shadow: 9984px 0 0 0 var(--color-main), 9999px 0 0 0 var(--color-main), 10014px 0 0 0 var(--color-main);
  }
  83.333% {
    box-shadow: 9984px 0 0 0 var(--color-main), 9999px 0 0 0 var(--color-main), 10014px -10px 0 0 var(--color-main);
  }
  100% {
    box-shadow: 9984px 0 0 0 var(--color-main), 9999px 0 0 0 var(--color-main), 10014px 0 0 0 var(--color-main);
  }
}