/* Variables */
:root {
  --color-main: #00bdb6;
  --color-grey: #757575;
  --color-error: brown;
  --font-family-main: 'Quicksand', sans-serif;
  --font-family-text: 'Oxanium', cursive;
  --shadow: 1.5px 2.5px 8px hsla(0, 0%, 0%, .2);
}

/* Reset */
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-grey);
  color: #fff;
  font-family: var(--font-family-text);
  margin: 0;
}

ol, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  height: auto;
  max-width: 100%;
}

/* Container */
.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0 auto;
  max-width: 1440px;
}

/* Title */
.title {
  text-align: center;
}

/* Store template */
.store {
  background-color: #f9f6e1;
  color: #3e3930;
}

.store .container {
  margin: 0 auto;
  max-width: 992px;
}

/* Messages */
.messages-wrapper {
  background-color: var(--color-grey);
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: 0 auto;
  max-width: 800px;
  overflow: auto;
  padding: 2rem;
  width: 100%;
}

.messages {
  display: grid;
  gap: 1rem;
}

.message {
  background-color: var(--color-main);
  border-radius: 1rem;
  box-shadow: var(--shadow);
  font-size: 1.25rem;
  letter-spacing: .5;
  padding: 1rem;
  position: relative;
  width: fit-content;
}

.page-admin .message {
  padding-right: 2rem;
}

.message--user {
  background-color: #fff;
  color: #000;
  justify-self: end;
}

.message--system {
  background-color: #000;
}


.message--sandwich {
  background-color: #00000055;
}

.message--error {
  background-color: var(--color-error);
}

/* New message */
.form {
  display: grid;
  grid-template-columns: repeat(3, auto);
  margin: 0 auto;
  max-width: 800px;
  width: 100%;
}

.page-admin .form {
  display: flex;
}

.page-signin .form {
  grid-template-columns: 1fr;
  gap: 2rem;
}

.label {
  display: block;
  font-size: 1.5rem;
  margin-bottom: .5rem;
}

.input {
  border: 0;
  flex: 1;
  font-size: 1.5rem;
  padding: 1rem;
  width: 100%;
}

.btn {
  background-color: var(--color-main);
  color: #fff;
  cursor: pointer;
  border: 0;
  font-size: 1.5rem;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  transition: opacity .2s linear;
}

.btn:hover {
  opacity: .9;
}

.btn--danger {
  background-color: var(--color-error);
}

/* Loading indicator */
.loader {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  overflow: hidden;
  padding: 2rem 0;
  width: 2.5rem;
}

.loader:not(.show) {
  visibility: hidden;
}

.dots {
  animation: dots 1.5s infinite linear;
  background-color: var(--color-main);
  border-radius: 5px;
  box-shadow: 9984px 0 0 0 var(--color-main), 9999px 0 0 0 var(--color-main), 10014px 0 0 0 var(--color-main);
  color: var(--color-main);
  height: 10px;
  left: -9999px;
  position: relative;
  width: 10px;
}

@keyframes dots {
  0% {
    box-shadow: 9984px 0 0 0 var(--color-main), 9999px 0 0 0 var(--color-main), 10014px 0 0 0 var(--color-main);
  }
  16.667% {
    box-shadow: 9984px -10px 0 0 var(--color-main), 9999px 0 0 0 var(--color-main), 10014px 0 0 0 var(--color-main);
  }
  33.333% {
    box-shadow: 9984px 0 0 0 var(--color-main), 9999px 0 0 0 var(--color-main), 10014px 0 0 0 var(--color-main);
  }
  50% {
    box-shadow: 9984px 0 0 0 var(--color-main), 9999px -10px 0 0 var(--color-main), 10014px 0 0 0 var(--color-main);
  }
  66.667% {
    box-shadow: 9984px 0 0 0 var(--color-main), 9999px 0 0 0 var(--color-main), 10014px 0 0 0 var(--color-main);
  }
  83.333% {
    box-shadow: 9984px 0 0 0 var(--color-main), 9999px 0 0 0 var(--color-main), 10014px -10px 0 0 var(--color-main);
  }
  100% {
    box-shadow: 9984px 0 0 0 var(--color-main), 9999px 0 0 0 var(--color-main), 10014px 0 0 0 var(--color-main);
  }
}

/* Admin form */
.delete-btn {
  border: 0;
  background-color: transparent;
  cursor: pointer;
  font-size: 1.25rem;
  font-weight: bold;
  color: #fff;
  padding: 0;
  position: absolute;
  right: .5rem;
  top: .25rem;
}

.radio-group {
  border-bottom: 1px solid #000;
  border-top: 1px solid #000;
  display: flex;
  gap: 1px;
  margin: 0 auto;
  max-width: 800px;
  width: 100%;
}

.radio-input {
  display: none;
}

.radio-label {
  background-color: var(--color-grey);
  cursor: pointer;
  flex: 1;
  padding: 1rem;
  text-align: center;
}

.radio-input:checked + .radio-label {
  background-color: var(--color-main);
}