html
  head
    title=`Om Lab GPT ${title ? '| ' + title : '' }`
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin="")
    link(href="https://fonts.googleapis.com/css2?family=Oxanium&amp;family=Quicksand:wght@500;600;700&amp;display=swap" rel="stylesheet")
    link(rel="stylesheet", href="styles.css")
    block scripts
  body
    block content